.first-arrow {
  clip-path: polygon(0 0, 90% 0, 100% 50%, 90% 100%, 0 100%);
}

.middle-arrow {
  clip-path: polygon(0 0, 90% 0, 100% 50%, 90% 100%, 0 100%, 10% 50%);
}

.last-arrow {
  clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%, 10% 50%);
}

.inner-first-arrow {
  clip-path: polygon(0 0, 90% 0, 99.2% 50%, 90% 100%, 0 100%);
}

.inner-middle-arrow {
  clip-path: polygon(2% 0, 90% 0, 99.2% 50%, 90% 100%, 2% 100%, 11% 50%);
}

.inner-last-arrow {
  clip-path: polygon(2% 0, 100% 0, 100% 100%, 2% 100%, 11% 50%);
}
