.first-arrow {
  clip-path: polygon(0 0, 90% 0, 100% 50%, 90% 100%, 0 100%);
}

.middle-arrow {
  clip-path: polygon(0 0, 90% 0, 100% 50%, 90% 100%, 0 100%, 10% 50%);
}

.last-arrow {
  clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%, 10% 50%);
}
